In [2]:
#A series is a one dimensional labelled array capable of holding any data type .The axis labels are collectively called the index
# There are multiple ways to create a pandas series.
import numpy as np
import pandas as pd

In [3]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={1:10,2:20,3:30}

In [7]:
pd.Series(d)

1    10
2    20
3    30
dtype: int64

In [9]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [12]:
#Creating a Dataframe
data={
    'Name':['Jai','Princi','Gaurav','Anuj'],
    'Age':[27,24,22,32],
    'Address':['Delhi','Kanpur','Allahabad','Kannauj'],
    'Qualification':['Msc','MA','MCA','Phd']
}
df=pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [16]:
data_list=[['Jai',27],['Princi',24],['Gaurav',22],['Anuj',23]]
df2=pd.DataFrame(data_list)
columns=['Name','Age']
df2 = pd.DataFrame(data_list,columns=columns)
df2

     Name  Age
0     Jai   27
1  Princi   24
2  Gaurav   22
3    Anuj   23

In [18]:
#Selection and Indexing of Columns
df2[['Age','Name']]

   Age    Name
0   27     Jai
1   24  Princi
2   22  Gaurav
3   23    Anuj

In [19]:
#Creating a new Column
df2['Address']=['Delhi','Kanpur','Allahabad','Kannauj']
df2

     Name  Age    Address
0     Jai   27      Delhi
1  Princi   24     Kanpur
2  Gaurav   22  Allahabad
3    Anuj   23    Kannauj

In [21]:
#Removing Column
df2.drop('Address',axis=1,inplace=True)
df2

     Name  Age
0     Jai   27
1  Princi   24
2  Gaurav   22
3    Anuj   23

In [25]:
#Selecting Rows
df2.loc[0]
df2.iloc[2]
df2

     Name  Age
0     Jai   27
1  Princi   24
2  Gaurav   22
3    Anuj   23

In [28]:
#Selecting Subsets of Rows and Columns
df2.loc[[0,1]][["Name"]]

     Name
0     Jai
1  Princi

In [29]:
#Conditional Selection
#I want only those people whose age is above 25
df2[df2["Age"]>25]

  Name  Age
0  Jai   27

In [33]:
#I want people whose age is above 25 and their name is Suhani
df2[(df2["Age"]<25) & (df2["Name"] == 'Princi')]

     Name  Age
1  Princi   24